:root {
  --text-color: #848585;
  --font-family: "Roboto Condensed", sans-serif;
  --font-size: 16px;
  --primary-color: #35e166;
  --body-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #353535;
}
